:root {
    --site-black: rgb(253, 253, 253);
    --site-white: #1d1d1f;
}

img {
    filter: invert(0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;   
    overflow-y: hidden; 
    color: #fff;
}