* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;   
    overflow-y: hidden;
    background: rgb(61,5,47);
    background: linear-gradient(0deg, rgba(61,5,47,1) 0%, rgba(0,0,0,1) 100%); 
    color: #fff;
}